@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

@font-face {
	font-family: Butler;
	src: url(../assets/fonts/Butler_Regular.woff);
  }

:root {
	--dark-color-a: rgba(256, 256, 256, 0.55);
	--dark-color-b: rgba(132, 180, 168, 0.671);
	--light-color: rgb(255, 231, 231);
	--success-color: #91d6bf;
	--error-color: #d38683;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Karla', sans-serif;
	font-size: 14px;
	background-image: url('../assets/bg2.png');
	margin: 20px;
}

::selection {
	background-color: var(--light-color);
	color: #777;
  }

footer, .chat-footer {
	text-align: center;
	color: #fff;
	margin-top: 50px;
}

footer a {
	color: rgb(131, 155, 152);
}

footer a:hover,
footer a:focus,
footer a:active {
	color: var(--light-color);
}
h1 {
	font-family: 'Butler', serif;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: var(--light-color);
	color: rgb(131, 155, 152);
	font-family: 'Karla', sans-serif;
	border: 0;
	font-size: 14px;
}

/* Chat Page */

.chat-container {
	max-width: 1100px;
	margin: 30px auto;
	background: rgba(255, 255, 255, 0.719);
	border-radius: 5px;
	overflow: hidden;
}

.chat-header {
	background: var(--dark-color-a);
	color: rgb(131, 155, 152);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
	background: var(--dark-color-b);
	color: #fff;
	padding: 20px 20px 60px;
	overflow-y: scroll;
	font-weight: lighter;
}

.chat-sidebar h2 {
	font-size: 20px;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}

.chat-sidebar ul li {
	padding: 10px 0;
	color: #fff;
	font-size: 16px;
}

.chat-messages {
	padding: 30px;
	max-height: 500px;
	min-height: 500px;
	overflow-y: scroll;
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background: var(--light-color);
	border-radius: 5px;
	color: rgb(36, 36, 36);
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: rgb(131, 155, 152);
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: #777;
	font-weight: lighter;
}

.chat-form-container {
	padding: 20px 30px;
	background-color: var(--dark-color-a);
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 14px;
	padding: 5px;
	height: 30px;
	flex: 1;
	font-family: 'Karla', sans-serif;
	border-radius: 5px;
	border: 1px solid rgb(255, 231, 231);
}

/* Join Page */
.join-container {
	max-width: 500px;
	margin: 80px auto;
	color: #fff;
}

.join-header {
	text-align: center;
	padding: 20px;
	color: rgb(131, 155, 152);
	background: var(--dark-color-a);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.join-main {
	padding: 30px 40px;
	background: var(--dark-color-b);
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
}

.join-main input[type='text'] {
	font-size: 14px;
	padding: 5px;
	height: 30px;
	width: 100%;
	font-family: 'Karla', sans-serif;
}

.join-main select {
	font-size: 14px;
	font-family: 'Karla', sans-serif;
	padding: 5px;
	height: 30px;
	width: 100%;
}

.join-main .btn {
	margin-top: 20px;
	width: 100%;
}

@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}